@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }

  .product-img,
  .product-info {
    flex-basis: 50%;
  }

  .product-img {
    border-radius: 0.7rem 0 0 0.7rem;
    object-fit: unset;
    aspect-ratio: unset;
  }

  .product-info {
    border-radius: 0 0.7rem 0.7rem 0;
  }
}
