@media (min-width: 600px) {
  :root {
    --biggest-font-size: 2.5rem;
  }

  .card {
    flex-direction: row;
  }

  .product-img,
  .product-info {
    flex-basis: 50%;
  }

  .product-img {
    border-radius: 1rem 0 0 1rem;
    object-fit: unset;
    aspect-ratio: unset;
  }

  .product-info {
    border-radius: 0 1rem 1rem 0;
  }
}
