:root {
  --primary-dark-cyan: 158, 36%, 37%;
  --primary-very-dark-cyan: 158, 36%, 27%;
  --primary-cream: 30, 38%, 92%;

  --neutral-dark-blue: 212, 21%, 14%;
  --neutral-dark-grayish-blue: 228, 12%, 48%;
  --neutral-white: 0, 0%, 100%;

  --heading-font: 'Fraunces', serif;
  --body-font: 'Montserrat', sans-serif;

  --biggest-font-size: 2.35rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.05rem;
  --normal-font-size: 0.85rem;
  --small-font-size: 0.75rem;

  --font-bold: 700;
  --font-medium: 500;
}
